.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 10px;
}

.pagination-container a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.pagination-container a.active {
    background-color: red;
    color: white;
}