@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&family=Comfortaa:wght@700&family=Patua+One&display=swap');

* {
  font-family: "Comfortaa";
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(29, 29, 29);
}

.main-page-content {
  width: 100%;
  background-color: rgb(24, 24, 24);
}

.main-page-content a {
  text-decoration: none;
}